body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #181818;
  color: white;
  transition: 0.4s ease;
}

body.dark {
  background: white;
  color: black;
}

.page {
  display: flex;
  min-height: 100vh;
}

/* NAME PANEL */
.itsme {
  flex: 1;
  padding: 80px;
  background: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #222;
  transition: 0.3s ease;
}

body.dark .itsme {
  background: white;
  color: black;
}

.myname {
  font-size:x-large;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

body.dark .myname {
  color: black;
}

.myname:hover {
  color: rgb(49, 49, 255);
}

body.dark .myname:hover {
  color: blue;
}

.linkedinprofile {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: rgb(42, 149, 243);
  object-fit: cover;
  border-radius: 40%;
}

.projects {
  flex: 2;
  padding: 80px;
}

.titleproj{
  justify-self: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: block;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  border: 1px solid #333333;
}

body.dark .card {
  background: rgb(218, 218, 218);
  color: black;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #dbdbdb;
}

/* theme toggle */
.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #1a1a1a;
}

body.dark .toggle-btn {
  transform: scale(1.1);
  background: rgb(222, 222, 222);
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .itsme,
  .projects {
    padding: 40px;
  }
}